
<div class="header" style="text-align: right" >
    <mat-toolbar color="primary">
        <img src="../../../assets/edit (1).png">
        <span class="a-bit-right"></span>
        Welcome {{currentUser}}
        <span class="toolbar-spacer"></span>
        <button mat-button class="signoutBtn" (click)="logout()">
            <b>LogOut</b>
        </button>
    </mat-toolbar>
</div>
<h1 class="title">Please insert a Task:</h1>
<!--Input to insert new tasks to do-->
<input class="input" #task [(ngModel)]="value" type="text" id="myInput" (keyup.enter)="add(task.value)" placeholder="Insert task.."  >
<!--Button to submit the client task to our data base (enter also works)-->
<button class="button" id="myButton" (click)="add(task.value)">Add</button>
<br><br>
<!--Visual table with the tasks from todo-->
<table class="todoTable">
    <!--Headline for the table-->
    <tr>
        <td><b>Tasks to do</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!--iterate on todos array and give each task a button to set as done and another to remove-->
    <tr *ngFor="let task of todos.slice().reverse() ">
        <!--the task-->
        <td><input class="updateInput" #updateTask [(ngModel)]="task.task" (focusout)="updateField(task)" id="myUpdateInput" (keyup.enter)="updateField(task)"></td>
        <!--Done button-->
        <td class="checkBox"><a class="checkBoxBtn" type="button" (click)="moveToDone(task)"><img></a></td>
        <!--Remove button-->
        <td class="checkBox"><a class="removeBoxBtn" type="button" (click)="removeFromTodo(task)"><img></a></td>
        <!--Uptate button-->
        <td class="checkBox"><a class="updateBtn" type="button" (click)=updateField(task)><img></a></td>
    </tr>
</table>
<br>
<!--Visual table with the tasks from donedos-->
<table>
    <!--Headline for the table-->
    <tr>
        <td><b>Tasks done</b></td>
        <td></td>
        <td></td>
    </tr>
    <!--iterate on donedos array and give each task a button to set as done and another to remove-->
    <tr *ngFor="let task of donedos.slice().reverse() ">
        <!--the task-->
        <td class="disabled">{{task.task}}</td>
        <!--Done button-->
        <td class="checkBox"><a class="rotateBtn"  type="button" (click)="moveToUndone(task)"><img></a></td>
        <!--Remove button-->
        <td class="checkBox"><a class="removeBoxBtn"  type="button" (click)="removeFromDone(task)"><img></a></td>
    </tr>
</table>
<br>

