.title{
    color: hsl(240, 100%, 27%);
    padding-left: 40%;
    font-size: 200%;
}




.toolbar-spacer {
    flex: 1 1 auto;
}

.a-bit-right{
    flex: 1 1 auto;
}

.tasks-input{
    width: 50%;
    padding-left: 25%;
}

.button-group {
  position: absolute;
  left: 25%;
  margin: 1;
  width: 45%;
}
.button{
    color:white;
    background-color: darkblue; 
     
}



.disabled{
    color: gray;
    text-decoration: line-through;
    width: 100%;
}

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 59px;
    background-color: rgba(0,0,0,0.7);
  }
  
  
  /* Modal Content/Box */
  .modal-content {
    padding-right: 35%;
    padding-top: 2%;
    margin: 5px auto; /* 15% from the top and centered */
    width: 20%; /* size of content */
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
   
  /*configuration for the animation pop up*/
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  form {
    color: darkblue;
    
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  h1{
    color: darkblue;
    font-style: italic;
  }

  p{
    color:darkblue;
  }

  .error{
    color: red;
    font-size: 10px;
    padding-left: 25%;
  }

  

  @media screen and (max-width: 992px) {
    :host ::ng-deep youtube-player iframe{
      width: 500px;
      height: 300px;
    }
  }

  @media screen and (max-width: 600px) {
    .button-group {
      position: absolute;
      left: 0%;
      margin: 1;
      width: 45%;
    }

    .title{
      padding-left: 0%;
    }

    :host ::ng-deep .mat-form-field-wrapper{
      max-width: 150px;
    
    }

    :host ::ng-deep youtube-player iframe{
      width: 300px;
      height: 150px;
    }

    .modal-content{
      padding-right: 60%;
    }
  
  }

