/* You can add global styles to this file, and also import other style files */
.page{
    background-image: url('./assets/lukas-blazek-_eoobUKLFAI-unsplash.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
