header{
    display: block;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.modalBtnOut{
  float: right;
}

.button-group{
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
 
 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 59px;
    background-color: rgba(0,0,0,0.7);
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    background-color: white;
    margin: 5px auto; /* 15% from the top and centered */
    width: 220px; /* size of content */
  }
  .modal-content-Signin{
    display: flex;
    background-color: white;
    margin: 5px auto; /* 15% from the top and centered */
    width: 220px; /* size of content */
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
   
  /*configuration for the animation pop up*/
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  /* Bordered form */
form {
    color: darkblue;
    overflow: auto; /* Enable scroll if needed */
    
    
  }

  /* Add padding to containers */
  .container {
    padding: 5%;
    margin: 1 auto;
  }

  h1{
    color: darkblue;
    font-style: italic;
  }

  p{
    color:darkblue;
  }

  .error{
    color: red;
    font-size: 10px;
  }

  mat-form-field {
    width: 100%;
    left: 5px;
  }

   @media screen and (max-width: 992px) {
     .container{
       width: 100%
     }

     .modal-content{
       width: 60%;
     }
     
     .modal-content-Signin{
      width: 60%;
    }
   }
    
  

@media screen and (max-width: 700px) {
   
  .container{
    width: 100%
  }

  .modal-content{
    width: 95%;
  }

  .modal-content-Signin{
    width: 95%;
  }
} 


  

  