

<header *ngIf="!loggedIn; else elseBlock">
    <mat-toolbar color="primary">
        <!--Logo-->
        <img src="../../../assets/edit (1).png">
        <!--Spaced for toolbar-->
        <span class="toolbar-spacer"></span>
        <!--Button to open signin model-->
        <button 
        mat-button 
        class="signinBtn" 
        onclick="document.getElementById('signInModal').style.display='block'"
        ><b>Login</b></button>
        <!--Button to open signup model-->
        <button 
        mat-button 
        class="signupBtn" 
        onclick="document.getElementById('signUpModal').style.display='block'">
            <b>Register</b>
        </button>
    </mat-toolbar>
    
    <h1><b>Welcome to Todo application</b></h1>
    <p>The application allow user to submit personal tasks to be saved in our database and configure it with many features for the user to make a <b style="color:red">Perfect</b> todo list</p>
    <p>Please Register or Login to continue...</p>
    <!--Sign up pannel-->
    
    <div id="signUpModal"  class="modal">
            <!-- Modal Content -->
            <form class="modal-content animate" id="myForm" [formGroup]="registerForm" >
            <div class="container">
                <!--Email input-->
                <br>
                <mat-form-field>
                    <input 
                    matInput 
                    formControlName="regInput"
                    #regEmail 
                    (focusin)="resetIsExists()"
                    type="text" 
                    placeholder="eMail" 
                    name="email" 
                    [errorStateMatcher]="matcher"
                    required>
                </mat-form-field>
                <br>
                <label class="error" *ngIf=!validateEmailReg()>email is not valid</label>
                <!--Password input-->
                <mat-form-field>
                    <input 
                    matInput
                    formControlName="regPassword" 
                    #regPass 
                    (focusin)="isClickedFunc()"
                    type="password" 
                    placeholder="Password" 
                    name="psw" 
                    [errorStateMatcher]="matcher"
                    required>
                </mat-form-field>
                <br>
                <!--Check password input-->
                <mat-form-field>
                    <input 
                    matInput
                    formControlName="checkPass" 
                    #checkPassword 
                    (focusin)="isClickedFunc()"
                    type="password" 
                    placeholder="Confirmed Password" 
                    [errorStateMatcher]="matcher"
                    name="psw" 
                    required>
                </mat-form-field>
                <div class="myBtns">
                <br>
                <label class="error" *ngIf="!isPassMatch(regPass.value , checkPassword.value)">password does not match</label>
                <label class="error" *ngIf=!isPassValid(regPass.value)>password is not valid</label>
                <label class="error" *ngIf=isUserExistFunc()>user already exist</label>
                <br>
                <!--Resister button-->
                <button mat-button class="modalBtnIn"  type="submit" (click)="register(regEmail.value , regPass.value , checkPassword.value)" 
                >Register</button >
                <!--Cancel button-->
                <button 
                mat-button 
                type="button" 
                onclick="document.getElementById('signUpModal').style.display='none'"
                 class="modalBtnOut" 
                 (click)="clean()"
                 >Cancel</button></div>
            </div>
        </form>
    </div>

    

    <!--Sign in pannel-->
    <div id="signInModal" class="modal">
            <!-- Modal Content -->
            <form class="modal-content-Signin animate" [formGroup]="loginForm" >
            <div class="container">
                <!--Email input-->
                <div>
                    <mat-form-field>
                        <input 
                        matInput 
                        formControlName="logInput"
                        #logEmail type="text" 
                        placeholder="eMail" 
                        name="email" 
                        [errorStateMatcher]="matcher"
                        required>
                    </mat-form-field>
                    <br>
                    <label class="error" *ngIf=!validateEmailLog()>email is not valid</label>
                </div>
                <!--Password input-->
                <mat-form-field>
                    <input 
                    matInput 
                    formControlName="logPassword" 
                    #logPass type="password" 
                    placeholder="Password" 
                    [errorStateMatcher]="matcher"
                    name="psw" 
                    required>
                </mat-form-field>
                <br>
                <!--Pop on click and check if user and password are valid-->
                <label class="error" *ngIf=!isUserValidFunc(logPass.value)>please enter valid email and password</label>
                <br>
                <div class="myBtns">
                <!--Login button-->
                <button
                mat-button
                id="loginBtn" 
                type="submit" 
                class="modalBtnIn"
                (click)='login(logEmail.value,logPass.value)'
                >Login</button>
                <!--Cancel button-->
                <button 
                mat-button
                type="button"  
                onclick="document.getElementById('signInModal').style.display='none'" 
                class="modalBtnOut"
                (click)="clean()">
                    Cancel
                </button>
            </div>
            </div>
        </form>
    </div>
</header>
<ng-template #elseBlock>
    {{ngOnInit()}}
</ng-template>
